#div_iframe {
    border-style: inset;
    border-color: grey;
    overflow: scroll;
    height: 500px;
    width: 100%
  }
  
  #frame {
    width: 100%;
    height: 1000%;   /* 10x the div height to embrace the whole page */
  }